/* Bootstrap CSS Overrides */

/* FestiBase kleuren:
    Paars: #160e2f
    Licht oranje: #fdb958
    Licht paars: #492d9f
    Oranje: #ff9b0c
    Grijs: #7a7a7a
*/

h1 {
    color: #ffffff;
    padding-top: 140px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 72px;
}

h2 {
    color: #ffffff;
}

label {
    color: #ffffff;
    font-size: 1.35rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.extra-padding-top-xl {
    padding-top: 300px;
}

.extra-padding-top-lg {
    padding-top: 200px;
}

.extra-padding-top-med {
    padding-top: 150px;
}

.extra-padding-top-sm {
    padding-top: 75px;
}

.extra-padding-top-xs {
    padding-top: 40px;
}

.festibase-logo {
    width: 250px;
    height: 200px;
    opacity: 0.8;
}

.btn-primary-big {
    width: 700px;
    opacity: 0.9;
}

.btn-primary-small {
    width: 90%;
    max-width: 385px;
    height: 80px;
    font-size: 24px;
    opacity: 0.9;
}

    .btn-primary-small:hover {
        font-size: 24px;
    }

.btn-primary-tabel {
    font-size: 15px;
    margin-top: -8px;
}

    .btn-primary-tabel:hover {
        font-size: 15px;
    }

.tabel-wrapper .col {
    border-right: 1px #7a7a7a solid;
    height: 100%;
    max-width: 25%;
}

.tabel {
    height: 100px;
    border: 1px solid #7a7a7a;
    font-size: 20px;
    line-height: 100px;
    white-space: nowrap;
}

.tabel-wrapper .tabel:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, .7);
}

.tabel-wrapper .tabel:nth-of-type(even) {
    background-color: rgba(255, 255, 255, .85);
}

.tabel-titel {
    font-size: 36px;
    font-weight: bold;
}
