/* Bootstrap CSS Overrides */

/* FestiBase kleuren:
    Paars: #160e2f
    Licht oranje: #fdb958
    Licht paars: #492d9f
    Oranje: #ff9b0c
    Grijs: #7a7a7a
*/

h1 {
    color: #ffffff;
    padding-top: 140px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 72px;
}

h2 {
    color: #ffffff;
}

label {
    color: #ffffff;
    font-size: 1.35rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.extra-padding-top-xl {
    padding-top: 300px;
}

.extra-padding-top-lg {
    padding-top: 200px;
}

.extra-padding-top-med {
    padding-top: 150px;
}

.extra-padding-top-sm {
    padding-top: 75px;
}

.extra-padding-top-xs {
    padding-top: 40px;
}

.festibase-logo {
    width: 250px;
    height: 200px;
    opacity: 0.8;
}

.listbox {
    height: 80px;
}

.btn-primary-big {
    width: 700px;
}

/* Bootstrap Kleur Overrides */

a {
    color: #160e2f;
}

.btn-primary {
    color: #fff;
    background-color: #160e2f;
    width: 385px;
    height: 80px;
    border: 3px solid #fdb958;
    font-size: 34px;
    opacity: 0.9;
}

.btn-primary:hover {
    color: #fff;
    background-color: #160e2f;
    opacity: 1;
    border: 3px solid #fdb958;
    font-size: 34px;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #160e2f;
    border-color: #160e2f;
}

.btn-outline-primary {
    color: #160e2f;
    background-color: transparent;
    background-image: none;
    border-color: #160e2f;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #160e2f;
    border-color: #160e2f;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #160e2f;
    background-color: transparent;
}

.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #160e2f;
    border-color: #160e2f;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-link {
    font-weight: 400;
    color: #160e2f;
    background-color: transparent;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #160e2f;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #160e2f;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #160e2f;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    background-color: #160e2f;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #160e2f;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #160e2f;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #160e2f;
    border-color: #160e2f;
}

.badge-primary {
    color: #fff;
    background-color: #160e2f;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #160e2f;
    transition: width 0.6s ease;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #160e2f;
    border-color: #160e2f;
}

.bg-primary {
    background-color: #160e2f !important;
}

.border-primary {
    border-color: #160e2f !important;
}

.text-primary {
    color: #160e2f !important;
}

.form-control {
    border: 3px solid #dee2e6;
    height: 80px;
    font-size: 28px;
}